# webscrapper les prix des jouerus

In [63]:
import requests
from bs4 import BeautifulSoup
import pandas
import urllib
from urllib import request
import pandas as pd

In [39]:
url="https://www.transfermarkt.fr/premier-league/transfers/wettbewerb/GB1"
headers = {
    'User-Agent': 'Mozilla'
}
request_text = requests.get(url,headers=headers)

In [40]:
request_text.status_code

200

In [68]:
page = BeautifulSoup(request_text.content, "lxml")

tables=page.find_all('div',class_='responsive-table')

# Récupération des équipes

In [86]:
infos_equipe=page.find_all('div',class_='box')
all_teams=[]
for info in infos_equipe:
    team=info.find('a')
    if team!=None:
        team=team.get('title')
        all_teams.append(team)
print(all_teams)

[None, None, 'Arsenal FC', 'Aston Villa', 'AFC Bournemouth', 'FC Brentford', 'Brighton & Hove Albion', 'Burnley FC', 'Chelsea FC', 'Crystal Palace', 'FC Everton', 'FC Fulham', 'FC Liverpool', 'Luton Town', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sheffield United', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers', None, 'Khvicha Kvaratskhelia']

In [90]:
teams=[team for team in all_teams if team!=None]
print(teams)

['Arsenal FC', 'Aston Villa', 'AFC Bournemouth', 'FC Brentford', 'Brighton & Hove Albion', 'Burnley FC', 'Chelsea FC', 'Crystal Palace', 'FC Everton', 'FC Fulham', 'FC Liverpool', 'Luton Town', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sheffield United', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers', 'Khvicha Kvaratskhelia']

In [42]:
table=tables[0]

In [43]:
lignes=table.find_all('tr')

In [45]:
list0=[]
ligne0=lignes[0]
colonnes0=ligne0.find_all('th')
for colonne in colonnes0:
    list0.append(colonne.text)
print(list0)

['Arrivées', 'Âge', 'Nat.', 'Position', 'Pos', 'Valeur marchande', 'Venant de', 'Montant de transfert']

# un essaie pour récupérer un premier tableau

In [62]:
taille=len(lignes)-1
table=[0 for i in range(taille)]
colonnes=[0 for i in range(taille)]
row=[0 for i in range(taille)]
for i in range(1,len(lignes)):
    table[i-1]=lignes[i]
    colonnes[i-1]=table[i-1].find_all('td')
    row[i-1]=[]
    for colonne in colonnes[i-1]:
        title=colonne.find('img')
        if title!=None:
            row[i-1].append(title.get("title"))
        else:
            row[i-1].append(colonne.text)
print(row)

[['Declan RiceD. Rice', '24', 'Angleterre', 'Milieu défensif', 'MDC', '100,00 mio. €', 'West Ham United', 'Angleterre', '116,60 mio. €'], ['Kai HavertzK. Havertz', '24', 'Allemagne', 'Milieu offensif', 'MO', '60,00 mio. €', 'Chelsea FC', 'Angleterre', '75,00 mio. €'], ['Jurrien TimberJ. Timber', '22', 'Pays-Bas', 'Défenseur central', 'DC', '42,00 mio. €', 'Ajax Amsterdam', 'Pays-Bas', '40,00 mio. €'], ['David RayaD. Raya', '27', 'Espagne', 'Gardien de but', 'GdB', '32,00 mio. €', 'FC Brentford', 'Angleterre', 'Montant du prêt:3,34 mio. €'], ['Albert Sambi LokongaA. Lokonga', '24', 'Belgique', 'Milieu central', 'MC', '15,00 mio. €', 'Luton Town', 'Angleterre', 'Fin du prêt31 mai 2024'], ['Folarin BalogunF. Balogun', '21', 'États-Unis', 'Avant-centre', 'AC', '30,00 mio. €', 'Stade de Reims', 'France', 'Fin du prêt30 juin 2023'], ['Arthur OkonkwoA. Okonkwo', '22', 'Angleterre', 'Gardien de but', 'GdB', '2,00 mio. €', 'Wrexham AFC', 'Angleterre', 'Fin du prêt31 mai 2024'], ['Pablo MaríP. Marí', '29', 'Espagne', 'Défenseur central', 'DC', '5,00 mio. €', 'AC Monza', 'Italie', 'Fin du prêt30 juin 2023'], ['Rúnar Alex RúnarssonR. Rúnarsson', '28', 'Islande', 'Gardien de but', 'GdB', '1,00 mio. €', 'Alanyaspor', 'Turquie', 'Fin du prêt30 juin 2023'], ['Nicolas PépéN. Pépé', '28', "Côte d'Ivoire", 'Ailier droit', 'AiD', '14,00 mio. €', 'OGC Nice', 'France', 'Fin du prêt30 juin 2023'], ['Rúnar Alex RúnarssonR. Rúnarsson', '29', 'Islande', 'Gardien de but', 'GdB', '1,00 mio. €', 'Cardiff City', 'Angleterre', 'Fin du prêt31 mai 2024'], ['Arthur OkonkwoA. Okonkwo', '21', 'Angleterre', 'Gardien de but', 'GdB', '2,00 mio. €', 'SK Sturm Graz', 'Autriche', 'Fin du prêt30 juin 2023'], ['Cédric SoaresC. Soares', '31', 'Portugal', 'Arrière droit', 'ArD', '3,00 mio. €', 'FC Fulham', 'Angleterre', 'Fin du prêt30 juin 2023'], ['Nuno TavaresN. Tavares', '23', 'Portugal', 'Arrière gauche', 'ArG', '18,00 mio. €', 'Olympique de Marseille', 'France', 'Fin du prêt30 juin 2023']]

on définit ici une fonction qui permet de récupérer le tableau dans le site avec certaines modifications

In [108]:
def create_table(team,table):
    """ cette fonction permet de prender un tableau en entrée sous la forme de code html et après
    elle le transforme en un vrai tableau, cette fonction retourne aussi l'état du tableau: 
     càd est ce que le tableau est remplie de joueurs arrivant au team ou ce sont des joueurs vendus par le team
       """


    lignes=table.find_all('tr')
    list0=[]
    ligne0=lignes[0]
    colonnes0=ligne0.find_all('th')
    for colonne in colonnes0:
        list0.append(colonne.text)
    
    etat=list0[0]
    taille=len(lignes)-1
    table=[0 for i in range(taille)]
    colonnes=[0 for i in range(taille)]
    row=[0 for i in range(taille)]
    for i in range(1,len(lignes)):
        table[i-1]=lignes[i]
        colonnes[i-1]=table[i-1].find_all('td')
        row[i-1]=[]
        for colonne in colonnes[i-1]:
            title=colonne.find('img')
            if title!=None:
                row[i-1].append(title.get("title"))
            else:
                row[i-1].append(colonne.text)
                
    df=pd.DataFrame(row)

    return df,etat

# Test

je vais essayer de récupérer les deux premiers tablaux de la page web à la main  avnt de faire une boucle et récupérer tous les tableaux

In [98]:
table=tables[0]
df,etat=create_table("walu",table)

In [99]:
print(etat)

Arrivées

In [75]:
df.head()

,0,1,2,3,4,5,6,7,8
0,Declan RiceD. Rice,24,Angleterre,Milieu défensif,MDC,"100,00 mio. €",West Ham United,Angleterre,"116,60 mio. €"
1,Kai HavertzK. Havertz,24,Allemagne,Milieu offensif,MO,"60,00 mio. €",Chelsea FC,Angleterre,"75,00 mio. €"
2,Jurrien TimberJ. Timber,22,Pays-Bas,Défenseur central,DC,"42,00 mio. €",Ajax Amsterdam,Pays-Bas,"40,00 mio. €"
3,David RayaD. Raya,27,Espagne,Gardien de but,GdB,"32,00 mio. €",FC Brentford,Angleterre,"Montant du prêt:3,34 mio. €"
4,Albert Sambi LokongaA. Lokonga,24,Belgique,Milieu central,MC,"15,00 mio. €",Luton Town,Angleterre,Fin du prêt31 mai 2024

In [76]:
table2=tables[1]
df2=create_table('walu',table2)
df2.head()

,0,1,2,3,4,5,6,7,8
0,Folarin BalogunF. Balogun,22,États-Unis,Avant-centre,AC,"30,00 mio. €",AS Monaco,France,"30,00 mio. €"
1,Granit XhakaG. Xhaka,30,Suisse,Milieu défensif,MDC,"20,00 mio. €",Bayer 04 Leverkusen,Allemagne,"15,00 mio. €"
2,Matt TurnerM. Turner,29,États-Unis,Gardien de but,GdB,"10,00 mio. €",Nottingham Forest,Angleterre,"8,15 mio. €"
3,Auston TrustyA. Trusty,24,États-Unis,Défenseur central,DC,"8,00 mio. €",Sheffield United,Angleterre,"5,80 mio. €"
4,Pablo MaríP. Marí,29,Espagne,Défenseur central,DC,"5,00 mio. €",AC Monza,Italie,"4,90 mio. €"

# Concaténer les différents tableaux

là je fais une bouce pour récupérer tous les tableaux de cette page web , après on va les concaténer pour avoir une base de données claires

In [118]:
df=[0 for i in range(len(tables))]

for i in range(len(tables)):
    table=tables[i]
   
    team=teams[(i//2)]
    
    df[i],etat=create_table(team,table)

    if etat=="Arrivées":
        df[i]['team_acheteur']=team
    else:
        df[i]['team vendeur']=team

In [121]:
concatenated_df = pd.concat(df, ignore_index=True)

In [122]:
concatenated_df

,0,1,2,3,4,5,6,7,8,team_acheteur,team vendeur
0,Declan RiceD. Rice,24,Angleterre,Milieu défensif,MDC,"100,00 mio. €",West Ham United,Angleterre,"116,60 mio. €",Arsenal FC,NaN
1,Kai HavertzK. Havertz,24,Allemagne,Milieu offensif,MO,"60,00 mio. €",Chelsea FC,Angleterre,"75,00 mio. €",Arsenal FC,NaN
2,Jurrien TimberJ. Timber,22,Pays-Bas,Défenseur central,DC,"42,00 mio. €",Ajax Amsterdam,Pays-Bas,"40,00 mio. €",Arsenal FC,NaN
3,David RayaD. Raya,27,Espagne,Gardien de but,GdB,"32,00 mio. €",FC Brentford,Angleterre,"Montant du prêt:3,34 mio. €",Arsenal FC,NaN
4,Albert Sambi LokongaA. Lokonga,24,Belgique,Milieu central,MC,"15,00 mio. €",Luton Town,Angleterre,Fin du prêt31 mai 2024,Arsenal FC,NaN
...,...,...,...,...,...,...,...,...,...,...,...
621,Ki-Jana HoeverK. Hoever,21,Pays-Bas,Arrière droit,ArD,"3,50 mio. €",Stoke City,Angleterre,Prêt,NaN,Wolverhampton Wanderers
622,ChiquinhoChiquinho,23,Portugal,Ailier gauche,AiG,"2,00 mio. €",Stoke City,Angleterre,Prêt,NaN,Wolverhampton Wanderers
623,Matheus CunhaM. Cunha,24,Brésil,Avant-centre,AC,"28,00 mio. €",Atlético de Madrid,Espagne,Fin du prêt30 juin 2023,NaN,Wolverhampton Wanderers
624,Tommy DoyleT. Doyle,22,Angleterre,Milieu central,MC,"7,00 mio. €",Manchester City,Angleterre,Fin du prêt31 mai 2024,NaN,Wolverhampton Wanderers
625,Boubacar TraoréB. Traoré,21,Mali,Milieu défensif,MDC,"5,00 mio. €",FC Metz,France,Fin du prêt30 juin 2023,NaN,Wolverhampton Wanderers

# Renommer les colonnes

In [127]:
nouvelles_colonnes = {
    0: 'Nom',
    1: 'age',
    2:'nationnalité',
    3:'Position',
    4:'res Position',
    5:'valeur marchande',
    6: 'venant de 1',
    7:'venant de 2',
    8: 'montant de la transaction',
}

In [128]:
concatenated_df.rename(columns=nouvelles_colonnes, inplace=True)

In [129]:
concatenated_df.head()

,Nom,age,nationnalité,Position,res Position,valeur marchande,venant de 1,venant de 2,montant de la transaction,team_acheteur,team vendeur
0,Declan RiceD. Rice,24,Angleterre,Milieu défensif,MDC,"100,00 mio. €",West Ham United,Angleterre,"116,60 mio. €",Arsenal FC,NaN
1,Kai HavertzK. Havertz,24,Allemagne,Milieu offensif,MO,"60,00 mio. €",Chelsea FC,Angleterre,"75,00 mio. €",Arsenal FC,NaN
2,Jurrien TimberJ. Timber,22,Pays-Bas,Défenseur central,DC,"42,00 mio. €",Ajax Amsterdam,Pays-Bas,"40,00 mio. €",Arsenal FC,NaN
3,David RayaD. Raya,27,Espagne,Gardien de but,GdB,"32,00 mio. €",FC Brentford,Angleterre,"Montant du prêt:3,34 mio. €",Arsenal FC,NaN
4,Albert Sambi LokongaA. Lokonga,24,Belgique,Milieu central,MC,"15,00 mio. €",Luton Town,Angleterre,Fin du prêt31 mai 2024,Arsenal FC,NaN